.sidenav-container {
    height: calc(100vh - 64px);

    mat-sidenav {
        width: 200px;

        .menu-item {
            height: 40px;
            padding-left: 1em;
            box-sizing: border-box;

            &:hover {
                border-left: 5px solid;
                background: lightblue;
                padding-left: 11px;
                cursor: pointer;
            }
        }

        .menu-item:nth-child(1) {
            margin-top: 3em;
        }

        .add-product {
            position: absolute;
            bottom: 20px;
            left: 40px;
        }
    }
}