<div class="product">
    <mat-card class="flex center-center m-b-1em">
        <div class="savings accent-bg flex center-center column">
            <p class="no-margin"><b>Save</b></p>
            <b><small>R 5500</small></b>
        </div>
        <img src="../../../../assets/images/puppies/IMG-20240206-WA0028.jpg" alt="">
    </mat-card>
    <div class="content text-center hide-on-overlay">
        <p class="no-margin"><small>Defy</small></p>
        <p class="no-margin">Defy 9kg SteamCure Front Load Washer DAW389</p>
        <div class="flex spacearound-center">
            <p class="no-margin primary line-through">R9 000</p>
            <p class="no-margin accent">R7 300</p>
        </div>
    </div>

    <div class="overlay column gap-1em center-center">
        <div class="content text-center">
            <p class="no-margin"><small>Defy</small></p>
            <p class="no-margin">Defy 9kg SteamCure Front Load Washer DAW389</p>
            <div class="flex spacearound-center">
                <p class="no-margin primary line-through">R9 000</p>
                <p class="no-margin accent">R7 300</p>
            </div>
        </div>

        <button mat-raised-button color="accent" class="width-80">Test</button>
    </div>
</div>