<div class="product">
    <mat-card class="flex center-center m-b-1em">
        <div class="savings accent-bg flex center-center column">
            <p class="no-margin"><b>Save</b></p>
            <b><small>R 5500</small></b>
        </div>
        <img src="../../../../assets/images/puppies/IMG-20240206-WA0028.jpg" alt="">
    </mat-card>
    <div class="content text-center hide-on-overlay">
        <p class="no-margin"><small>Defy</small></p>
        <p class="no-margin">Defy 9kg SteamCure Front Load Washer DAW389</p>
        <div class="flex spacearound-center">
            <p class="no-margin primary line-through">R9 000</p>
            <p class="no-margin accent">R7 300</p>
        </div>
    </div>

    <div class="overlay column gap-2em end-center">
        <div class="content text-center flex column gap-1em">
            <p class="no-margin"><small>Defy</small></p>
            <p class="no-margin">Defy 9kg SteamCure Front Load Washer DAW389</p>
        </div>

        <div class="flex spacearound-center full-width">
            <p class="no-margin primary line-through">R9 000</p>
            <p class="no-margin accent">R7 300</p>
        </div>

        <div class="flex center-center gap-1em green">
            <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
            <b>Item in stock</b>
        </div>

        <button mat-raised-button class="width-80 white green-bg btn-radius">Add to Cart</button>

        <div class="flex center-center">
            <div class="footer-item flex spacearound-center gap-1em border-right">
                <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
                <small>
                    Wishlist
                </small>
            </div>
            <div class="footer-item flex spacearound-center gap-1em">
                <mat-icon class="material-symbols-outlined">balance</mat-icon>
                <small>
                    Compare
                </small>
            </div>
        </div>
    </div>
</div>