<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide>
            <div class="h-300px flex">
                <div class="width-65">
                    <img [src]="slide.img" [alt]="" class="bg-image full-height">
                </div>
                <div class="flex-1 p-24">
                    <h2>Hi, my name is {{slide.name}}</h2>
                    <div class="flex" *ngFor="let prop of dataProperties">
                        <div class="flex-1">
                            <p><strong>{{prop | titlecase}}</strong></p>
                        </div>
                        <div class="flex-1">
                            <p *ngIf="prop === 'price'">R{{slide[prop]}}</p>
                            <p *ngIf="prop === 'color'">
                                {{slide[prop]}} <input type="color" [value]="colorService.getHexColor(slide[prop])">
                            </p>
                            <p *ngIf="prop !== 'price' && prop !== 'color'">{{slide[prop]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>