<div class="flex column full-height">
    <!-- Toolbar -->
    <app-toolbar class="toolbar"></app-toolbar>

    <div class="main-container">
        <!-- Banner -->
        <div class="banner">
            <div class="banner-content">
                <h2>Welcome to <br><span class="accent">Our Online Store</span></h2>
                <p>We sell everything from watches, <br> shoes, food, t-shirts, pets, laptops etc...</p>
                <div class="flex gap-1em end-center">
                    <button mat-raised-button color="primary">Start Shopping</button>
                    <button mat-raised-button color="accent">Sell Anything</button>
                </div>
            </div>
        </div>

        <!-- Shop By Category -->
        <section class="p-1em">
            <h2 class="text-center m-b-1em">Shop By Category</h2>
            <app-slider [cardType]="'round'" [data]="categories"></app-slider>
        </section>

        <!-- Featured Products -->
        <section>
            <h2 class="text-center">Featured Products</h2>
            <app-slider [cardType]="'square'" [data]="featuredProducts"></app-slider>
        </section>
    </div>
</div>