<div class="flex column full-height">
    <app-toolbar></app-toolbar>
    <div class="main-container">
        <div class="banner">
            <div class="banner-content">
                <h2>Welcome to <br><span class="accent">Our Online Store</span></h2>
                <p>We sell everything from watches, <br> shoes, food, t-shirts, pets, laptops etc...</p>
                <div class="flex gap-1em end-center">
                    <button mat-raised-button color="primary">Start Shopping</button>
                    <button mat-raised-button color="accent">Sell Anything</button>
                </div>
            </div>
        </div>
    </div>
</div>