<div class="slider-container">
    <button mat-fab color="primary" class="left" [disabled]="isLeftDisabled" (click)="handleOnSlide('left')">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab color="primary" class="right" [disabled]="isRightDisabled" (click)="handleOnSlide('right')">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <!-- Round Cards -->
    <div class="slider flex gap-1em" #slider *ngIf="cardType === 'round'">
        <app-round-card *ngFor="let obj of data" [data]="obj"></app-round-card>
    </div>
    <!-- Square Cards -->
    <div class="slider flex" #slider *ngIf="cardType === 'square'">
        <app-square-card></app-square-card>
    </div>
</div>