.slider-container {
    position: relative;

    .left, .right {
        position: absolute;
        top: 100px;
        z-index: 2;
    }

    .right {
        right: 0;
    }

    .slider {
        overflow-x: hidden;
    }
}