.slider-container {
    position: relative;
    padding: 0 1em;

    .left,
    .right {
        position: absolute;
        top: 100px;
        z-index: 3;
    }

    .right {
        right: 0;
    }

    .slider {
        overflow-x: scroll;
    }

    // Added this to hide the scroll bar
    .slider::-webkit-scrollbar {
        display: none;
    }
}