<div class="main-container flex column gap-2em m-b-1em">
    <div>
        <h2 class="no-margin">Dashboard Overview</h2>
        <small>Welcome back, <b>Tukiso</b></small>
    </div>
    
    <div class="flex gap-1em">
        <mat-card class="mini-card flex-1 flex column gap-05em"
        *ngFor="let card of miniCards">
            <small>{{card.label}}</small>
            <div class="flex spacebetween-center stats">
                <p class="no-margin">{{card.value}}</p>
                <mat-icon>{{card.icon}}</mat-icon>
            </div>
        </mat-card>
    </div>

    <div class="flex spacebetween-strech">
        <mat-card class="half-width">
            <app-pie></app-pie>
        </mat-card>

        <mat-card class="half-width">
            <app-bar></app-bar>
        </mat-card>
    </div>
</div>