.main-container {
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
}

.mini-card {
    height: 80px;
    padding: 10px;

    mat-icon {
        height: 30px;
        width: 30px;
    }

    p, mat-icon {
        font-size: 30px;
    }
}