mat-card {
    width: 200px;

    .img-container {
        height: 200px;
        position: relative;

        .circle-bg {
            position: absolute;
            border: 25px solid lightblue;
            box-sizing: border-box;
            border-radius: 50%;
            height: 90%;
            width: 90%;
            z-index: 0;
        }

        img {
            width: 60%;
            height: 60%;
            border-radius: 50%;
            z-index: 1;
        }
    }

    .content {
        padding: 10px;
        margin-bottom: 5px;
        border-top: 1px solid lightblue;
    }

    &:hover {
        cursor: pointer;
        .overlay {
            position: absolute;
            background-color: #add8e680;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        .content {
            color: lightblue;
        }
    }
}